html {
  scroll-behavior: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  background:  var(--c-bg);
  color:       var(--c-fg);

  font-family: var(--font-secondary);
  font-size:   var(--text-base);
  font-weight: 400;

  line-height: 1.6;

  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  transition:
    background .4s ease,
    color      .4s ease;
}