h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:    var(--font-primary);
  letter-spacing: var(--tracking-tight);
  line-height:    0.95;
  color:          var(--c-fg);
}

p,
a,
button,
input,
textarea {
  font-family: var(--font-secondary);
}

span {
  font-family: inherit;
}